<div class="payment__form">
    <div class="payment__form--container">

        <form [formGroup]="cardDetailForm">
            <div class="form-group mg-b-25px">
                <div class="label__container">
                    <label title="Credit Card Number label" class="label"> Credit Card Number *</label>
                </div>

                <div class="input-group input-group-style">
                    <input class="form-control " placeholder="Credit Card Number" type="text"
                        formControlName="cardNumber">
                    <app-clear-input *ngIf="cardDetailForm['controls']['cardNumber']['value']" (click)="cardDetailForm['controls']['cardNumber'].reset();"></app-clear-input>
                </div>
                <app-input-error *ngIf="(cardDetailForm['controls']['cardNumber']['dirty'] || cardDetailForm['controls']['cardNumber']['touched'] ) && cardDetailForm['controls']['cardNumber'].invalid" [msg]="'Card Number is Reqired'" ></app-input-error>
            </div>

            <div class="form-group mg-b-25px">
                <div class="label__container">
                    <label title="Card Holder Name" class="label"> Card Holder Name *</label>
                </div>

                <div class="input-group input-group-style">
                    <input class="form-control " placeholder="Card Holder Name" type="text"
                        formControlName="cardHolderName">
                    <app-clear-input *ngIf="cardDetailForm['controls']['cardHolderName']['value']" (click)="cardDetailForm['controls']['cardHolderName'].reset();"></app-clear-input>
                </div>
                <app-input-error *ngIf="(cardDetailForm['controls']['cardHolderName']['dirty'] || cardDetailForm['controls']['cardHolderName']['touched'] ) && cardDetailForm['controls']['cardHolderName'].invalid"  [msg]="'Name is Required'" ></app-input-error>
            </div>

            <div class="form-group mg-b-25px">
                <div class="label__container">
                    <label title="Card Holder Name" class="label"> Expiry Date *</label>
                </div>

                <div class="input-group input-group-style">
                    <input class="form-control " placeholder="MM / YY" type="month" [min]="currentYear + '-' + currentMonth"
                        formControlName="expiryDate">
                </div>
                <app-input-error *ngIf="(cardDetailForm['controls']['expiryDate']['dirty'] || cardDetailForm['controls']['expiryDate']['touched'] ) && cardDetailForm['controls']['expiryDate'].invalid" [msg]="'Card Expiry Date is Required'" ></app-input-error>
            </div>

            <div class="form-group mg-b-25px">
                <div class="label__container">
                    <label title="Security Code (CVV)" class="label"> Security Code (CVV) </label>
                </div>

                <div class="input-group input-group-style">
                    <input class="form-control " placeholder="CVV" type="text"
                        formControlName="cvvCode">
                    <app-clear-input *ngIf="cardDetailForm['controls']['cvvCode']['value']" (click)="cardDetailForm['controls']['cvvCode'].reset();"></app-clear-input>
                </div>
                <app-input-error *ngIf="(cardDetailForm['controls']['cvvCode']['dirty'] || cardDetailForm['controls']['cvvCode']['touched'] ) && cardDetailForm['controls']['cvvCode']['errors']" [msg]="'Security Code Should be of maximum 3 letters'" ></app-input-error>
          
            </div>

            <div class="form-group mg-b-25px">
                <div class="label__container">
                    <label title="Amount" class="label"> Amount </label>
                </div>

                <div class="input-group input-group-style">
                    <input class="form-control " placeholder="Amount" type="text"
                        formControlName="amount">
                    <app-clear-input *ngIf="cardDetailForm['controls']['amount']['value']" (click)="cardDetailForm['controls']['amount'].reset();"></app-clear-input>
                </div>
                <app-input-error *ngIf="(cardDetailForm['controls']['amount']['dirty'] || cardDetailForm['controls']['amount']['touched'] ) && cardDetailForm['controls']['amount']['errors']"  [msg]="'Amount Should be Greater Than 0'" ></app-input-error>
            </div>
        </form>

        <div class="right-text">
            <button [disabled]="isProcessing" (click)="sendDetails()" type="button" class="bttn-medium">
                Submit
            </button>
        </div>
    </div>
</div>