
<table  *ngIf="cardInfo.cardItem.length">
  <tr>
    <th class="">Account Holder Name</th>
    <th class="">Account Number</th>
    <th class="">Expiry Date</th>
    <th class="">CVV</th>
    <th class="">Amount</th>
  </tr>

  <tr *ngFor="let item of cardInfo.cardItem">
    <td class="">{{item.cardHolderName}}</td>
    <td class="">{{item.cardNumber}}</td>
    <td class="">{{item.expiryDate}}</td>
    <td class="">{{item.cvvCode}}</td>
    <td class="">{{item.amount}}</td>

  </tr>
 
  <!-- </th> -->
</table>


<div *ngIf="!router.url.includes('payment')" class="app__component--style">
  <div>
    <button (click)="gs.navigate('payment')" type="button" class="bttn-medium bg-blue clr-white">
      Go To Payment Page b
    </button>
  </div>
  
</div>

<router-outlet></router-outlet>

<!-- selector kept for toast message -->
<ng2-toasty></ng2-toasty>
