/* You can add global styles to this file, and also import other style files */



* {
    font-family: "Poppins", sans-serif;
  }

body, html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: inherit !important;
}

$light-button-x-axis-padding: 24px;
$color-blue: #1d8ecf;
$color-white: #ffffff;
$color-red: #ea2f00;

.app__component--style{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bttn-medium{
    font-size: 13px;
    height: 40px;
    cursor: pointer;
    outline: 0;
    border-radius: 4px;
    padding-left: $light-button-x-axis-padding;
    padding-right: $light-button-x-axis-padding;
    border: 0;
}

.bg-blue{
    background-color: $color-blue;
}

.clr-white{
    color: $color-white ;
}

.clr-red{
    color: $color-red !important;
}

.mg-b-25px{
    margin-bottom: 25px;
}
.payment__form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.payment__form--container{
    max-width: 500px;
    width: 100%;
    padding: 25px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
}

.label__container{
    margin-bottom: 10px;
}

.label{
    font-size: 13px;
    color: #333333;
    font-weight: 400;
}

.input-group-style {
    border: 1px solid #e6ecf5;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;

  
    .form-control {
      border: 0 !important;
      height: 42px;
      font-size: 14px;
      color: #888da8;
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-weight: 400;
      line-height: 1.5;
      background-color: #fff;
      background-clip: padding-box;
      box-sizing: border-box;
    }

    .form-control:focus{
        outline: 0;
        border-color: #3daef3;
    }
  
    .input-group-text {
      border: 0 !important;
    }
  }
  
  .input-group-style:focus-within {
    outline: 0 none;
    box-shadow: none;
    border-color: #3daef3 !important;
  }
  
  .input-group-style:hover {
    outline: 0 none;
    box-shadow: none;
    border-color: #3daef3 !important;
  }

  input::placeholder{
  color: #b2b2b2;
  font-weight: 400;
  font-size: 12;
}

.right-text{
    text-align: right;
}

.cursor-pointer{
    cursor: pointer;
}

.input-group-text{
    padding: 0 10px;
}

table {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  max-width: 550px;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  width: 110px;
  text-align: left;
  padding: 8px;
  margin: 0;
  word-break: break-word;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
